@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  background-image: url(img/background-1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  /* width: 1040px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cards-page {
  margin-top: 5%;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 350px;
}

.cardhome {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-header {
  padding: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.taghome {
  text-align: center;
  background: #cccccc;
  border-radius: 50px;
  font-size: 16px;
  margin: 20px 0;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  /* cursor: pointer; */
}
.tag-teal {
  background-color: #35a0c7;
}
.tag-purple {
  background-color: #3ab54a;
}
.tag-pink {
  background-color: #e51769;
}
.text-w {
  color: #fff;
}

.w {
  width: 300px;
  padding: 0 auto;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.mountain-background {
  background-color: #35a0c7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e51769' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23333333' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c33763' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%235c5c5c' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a1565d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23858585' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237e7656' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23adadad' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235c9550' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d6d6d6' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%233ab54a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ffffff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.user img {
  border-radius: 50%;
  width: 42px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.api-content {
  height: 500px;
  width: 500px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 10px;
  font-size: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #35a0c7;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #35a0c7;
}

.go-btn {
  box-shadow: 2px 2px 20px rgb(196 204 245 / 35%);
  color: #333333;
}

.go-logo {
  max-height: 50px;
}

/* body {
  background: #f5f5f5;
  margin-top: 20px;
} */

/* ===== Career ===== */
.career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: "\F2F9";
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none;
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #333;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(78, 99, 215, 0.9)),
    to(#5a85dd)
  );
  background-image: linear-gradient(
    to right,
    rgba(78, 99, 215, 0.9) 0%,
    #5a85dd 100%
  );
}

.job-content {
  display: flex;
  flex-direction: column;
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
  margin-bottom: 30px;
}
